[Desktop Entry]
Version=5.1.0
Type=Application
Name=ALTO
Comment=Launch NoiseModelling WebServer
Exec=sh -c 'DIR="$(dirname "%k")"; cd "$DIR/bin"; ./NoiseModelling_With_GUI'
Icon=icon.png
Terminal=true
Categories=Science;

